In [ ]:
a=18
print("my age is",a)

my age is 18

Operators:

In [ ]:
#arthematic
a=5
b=20
print(a+b)

25

In [ ]:
#power
print(2**6)

64

In [ ]:
#float division
print(12//2)

6

In [ ]:
#relational
a=2
b=2
print(a==b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
True
True
False

In [ ]:
#logical
a=6
b=26
print(a>b) and (a<b)

False

In [ ]:
print((a>b) or (a<b))

True

In [ ]:
#membership operators
a="pirate"
print("a" not in a)
print("a" in a)

False
True

Control flow

In [ ]:
#write a program to get a number from the user and check whether it is positive or negative
a=int(input("enter a number"))
print(type(a))
if(a>0):
  print("positive")
elif(a==0):
  print("neutral")
else:
  print("negative")

enter a number0
<class 'int'>
neutral

looping

In [ ]:
n=6
for i in range(1,11,1):
  print(n,"*",i,"=",n*i)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

type casting

In [ ]:
#implicit
a=25.5
b=6
print(a*b)#interpreter automatically prints the values in the float datatype

153.0

In [ ]:
#explicit
a=25.5
b=6
print(int(a*b))#user conversion

153

slicing

In [ ]:
a="python is easy"
print(a[0:6])

python

In [ ]:
a="python is easy"
print(a[::2])

pto ses

In [ ]:
#table using while loop
n=int(input("enter a value"))
i=1
while(i<=10):
  print(n,"*",i,"=",n*i)
  i=i+1

enter a value11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

collections
list:is a collection of elements
heterogeneous
mutable

In [ ]:
list=[1,"sada",6.0]
print(list)

[1, 'sada', 6.0]

In [ ]:
for i in list:
  print(i)

1
sada
6.0

In [ ]:
list.append(2)
print(list)

[1, 'sada', 6.0, 2]

In [ ]:
#insert
list.insert(2,"hi")
print(list)

[1, 'sada', 'hi', 6.0, 2]

In [ ]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1.remove(5)
print(l1)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
l1.pop(1)
print(l1)

[1, 3, 4, 6, 7, 8, 9, 10]

list comprehension
-iterators
-applies some functionality on every element
-conditions
-output

In [ ]:
l1=[45,67,89,90]
l2=[i**2 for i in l1]#output iterator condition
print(l2)

[2025, 4489, 7921, 8100]

In [ ]:
l2=[i**2 for i in l1 if i>50]
print(l2)

[4489, 7921, 8100]

# the salaries of an employee is in the company is taken as a list the tax is 10 percent is less than 50k or it is 15%
#create a new list with tax amounts
#[67k,45k,89k,34k,50k]
#list_name=[(body of if)       condition      else     (body of else)   iterator]

In [ ]:
sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal:
  if i<=50000:
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
sal=[67000,45000,89000,34000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in sal]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]